body {
    background: url('../img/background2.png')no-repeat center center fixed;
    color: #E8F6FD;
    font-family: 'Exo', sans-serif;
    text-align: center;
    padding: 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {}


h2 {
    font-style: italic;
}